.idea
/shopping_bot/result_adidas_shorts.json
/shopping_bot/result_adidas_sneakers.json
/shopping_bot/tg_info.py
/shopping_bot/size.json
/shopping_bot/result_puma_tshirts.json
/shopping_bot/result_puma_sneakers.json
/shopping_bot/result_puma_shorts.json
/shopping_bot/result_megasport_tshirt.json
/shopping_bot/result_megasport_sneakers.json
/shopping_bot/result_megasport_shorts.json
/shopping_bot/result_adidas_tshirt.json
