html , body{
    height: 98%;
    overflow: hidden;
}


body{
    /*margin: 0;*/
    background: linear-gradient( #c31432 , #240b36);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;

}
@keyframes gradient{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 50% 97%;
    }
    100% {
        background-position: 0 50%;
    }
}


h1{
    text-align: center;
    font-size: 80px;
    padding:370px;
    color: #C6FFDD;
}
